@import url(https://fonts.googleapis.com/css?family=Lato:400,700,700italic,400italic,300);

a,
input[type="submit"],
input[type="button"],
button{
	-webkit-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	-moz-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}

body {
	color: #47a3da;
	padding: 100px;
	font-family: 'Lato', Arial, sans-serif;
}
h2 {
	font-size: 2em;
}
a {
	text-decoration: none;
}
.ba-container {
	width: 90%;
	margin: 0 auto;
	border: 3px solid #47a3da;
	padding: 0 20px;
}
.ba-container .title {
	border-bottom: 3px solid #47a3da;
}
.ba-container .title h3 {
	font-size: 1.5em;
}
.ba-width-1-3 {
	text-align: center;
	margin: 30px 0;
	min-height: 250px;
}
.ba-width-1-3 h2 {
	margin-top: 0px;
	color: #47a3da;
}
.ba-grid .ba-width-1-3 span {
	color: #ccc;
	font-size: 22px;
}

	.ba-buy-btn {
		text-decoration: none;
		background-color: #47a3da;
		padding: 10px 20px;
		color: #fff;
		display: inline-block;
		margin-top: 30px;
	}
	.ba-buy-btn:hover {
		background: #02639d;
	}
	.ba-buy-btn:before {
		content:"+";
		display: inline-block;
		width: 22px;
		height: 22px;
		margin-right: 5px;
		background-color: #fff;
		-webkit-border-radius: 50%;
		border-radius: 50%;
		color: #02639d;
		font-weight: bold;
		font-size: 18px;
}

.title img{
	height: 150px;
	float: right;
	margin-top: -20px;
	margin-right: -15px;
}

.clearfix{
	clear: both;
	margin-top: 80px;
}

