*, html{
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

body{
	background: #0c74a0 url("../img/bg.jpg") top repeat-x;
	font-family: Tahoma;
 	font-size: 12px;
}

ul{
	list-style: none;
}

a{
	text-decoration: none;
}

.container{
	max-width:1000px;
	background: #fff;
	margin: 0px auto;
	box-shadow: 0 2px 10px rgba(0, 0, 0, .8);
}

header{
 	padding: 10px 30px 0px;
 	color: #128aa7;
 }

header a{
    color: #128aa7;
 }

.clearfix{
	clear: both;
}

.clear-right{
	clear: right;
}

.logo a{
	display: block;
	float: left;
	width: 283px;
	height: 165px;
	line-height: 200px;
	text-align: center;
    text-decoration: none;
	background: url(../img/logo.png) right no-repeat;
}

.contacts{
	float: right;
}

.countries{
	float: right;
	margin-top: 40px;
}

.country{
	display: inline-block;
	text-align: center;
	font-family: Tahoma;
	font-size: 10px;
	text-decoration: underline;
	padding-left: 14px;
}

.country img{
	display: block;
	margin: 0px auto;
}

.country a:hover img{
	opacity: 0.4;
}

.photo{
	border-top: 1px solid #128aa7;
	border-bottom: 1px solid #138aa7;
}

ul.menu {
	display: block;
	background: linear-gradient(to top, #373737, #303030);
	padding: 0px 35px;
	border-top: 1px solid #cacbcb;
	border-bottom: 1px solid #000;
	box-shadow: 0 1px 3px rgba(0, 0, 0, .8);
}

ul.menu:after {
    display: block;
    content: ' ';
    clear: both;
    float: none;
}

ul.menu > li {
	  float: left;
    position: relative;
}

ul.menu > li > a {
    display: block;
    font-size: 14px;
    line-height: 30px;
    padding: 0px 30px;
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
}

ul.submenu {
    display: none;
    position: absolute;
    width: 100%;
    top: 31px;
    left: 0;
    background-color: #303030;
    border: none;
}

ul.submenu > li {
    display: block;
}
ul.submenu > li > a {
    display: block;
    font-size: 14px;
    line-height: 30px;
    padding-left: 30px;
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
}

ul.submenu > li > a:hover {
    text-decoration: underline;
}

ul.menu > li:hover > ul.submenu {
    display: block;
}

.menu span{
	padding-left: 5px;
}


.content {
    display: flex;
    justify-content: space-between;
    margin-top: 1px;
}

aside {
    width: 210px;
    padding: 15px;
    border: 1px solid #c7cacf;
    background-color: #edeef0;
    text-align: center;
    color: #424c43;
    line-height: 24px;
    font-size: 14px;
}

footer {
    text-align: center;
    height: 35px;
    line-height: 35px;
    color: rgba(255, 255, 255, 0.8);
}