body {
	/*background: url('../img/bg.jpg') no-repeat;*/
	-webkit-background-size: cover;
	background-size: cover;
}
/* font-family: "Bebas"; */
@font-face {
	font-family: "Bebas";
	src: url("../fonts/bebas.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
/* font-family: "Helvetica"; */
@font-face {
	font-family: "Helvetica Neue";
	src: url("../fonts/helveticaneue.otf");
	font-style: normal;
	font-weight: 400;
}
/*@font-face {
	font-family: "Helvetica Neue";
	src: url("../fonts/helveticaneuebold.otf");
	font-style: normal;
	font-weight: 600;
}
@font-face {
	font-family: "Helvetica Neue";
	src: url("../fonts/helveticaneueitalic.otf");
	font-style: italic;
	font-weight: 400;
}*/
@font-face {
	font-family: 'helveticaneue';
	src: url('../fonts/helveticaneue.eot');
	src: url('../fonts/helveticaneue.eot') format('embedded-opentype'),
	url('../fonts/helveticaneue.woff2') format('woff2'),
	url('../fonts/helveticaneue.woff') format('woff'),
	url('../fonts/helveticaneue.ttf') format('truetype'),
	url('../fonts/helveticaneue.svg#helveticaneue') format('svg');
}
img {
	max-width: 100%;
}
a:hover {
	text-decoration: none;
}
/*----------------------------------Navigation-----------------------------------------*/
.navbar{
	border:none;
	min-height:78px;
	position: relative;
	margin-bottom: 0;
	z-index: 1;
}
.container{
	background: #ffffff;
	z-index: 2;
	position: relative;
}
.navbar:before{
	position:absolute;
	width: 100%;
	height: 60px;
	top: 100%;
	background:#f2ae9c;
}

.navbar-brand{
	padding-top: 13px;
	line-height: 78px;
	height: 78px;
	color: #e8603c;
	text-transform: uppercase;
	font: 36px "Bebas", Arial, Helvetica, sans-serif;
	font-weight: 700;
}
.je-light{
	color:#f2ae9c;
}
.navbar-nav>li>a{
	font: 16px "Bebas", Arial, Helvetica, sans-serif;
	color:#b9b9b9;
	text-transform: uppercase;
}
.navbar-nav>li>a:hover{
	background: none;
	color:#e8603c;
}
.navbar-nav>li>a:hover span {
	color:#f2ae9c;
}
.navbar-nav li:last-child a{
	padding-right: 0;
}
.navbar .collapse {
	padding-right: 0;
}
.navbar .active a{
	background: none;
	color: #e8603c;
}
.navbar-nav {
	word-spacing: 3px;
}
.navbar-header span.icon-bar {
	background-color: #e8603c;
}
.navbar-header a.navbar-brand:hover {
	color: #e8603c;
}

/*----------------------------------Carousel-----------------------------------------*/
.carousel-caption {
	background-color: rgb( 232, 102, 60 );
	opacity: 0.8;
	text-align: left;
	padding: 20px;
	max-width: 414px;
	max-height: 120px;
	position: absolute;
	left: 36px;
	bottom: 9%;
	color: #fff;
}
.carousel-caption h2 {
	font: 18px "Bebas", Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	text-shadow: none;
	margin-top: 0;
	margin-bottom: 16px;
}
.carousel-caption p {
	font: 12px Arial, Helvetica, sans-serif;
	text-shadow: none;
}
.carousel-inner img {
	width: 100%;
}
/*.je-slider .carousel-control:hover {
	opacity: 0;
}*/
/*----------------------------------Small img-----------------------------------------*/
.je-small-img {
	margin-top: 18px;
	margin-bottom: 18px;
}
.je-small-img img {
	width: 100%;
	transition: transform .3s;
}
@media (max-width: 991px) {
	.je-small-img .row [class*=col-] {
		margin-bottom: 20px;}
}
.je-small-img a:hover img {
	transform: scale(1.1);
	transition: transform .3s;
}

/*----------------------------------Media-----------------------------------------*/
.je-media {
	/*padding-bottom: 30px;*/
}
.je-media img{
	/*width: 46px;*/
	height: 46px;
	float: left;
}
.je-media h2 {
	font: 18px "Bebas", Arial, Helvetica, sans-serif;
	text-align: left;
	text-transform: uppercase;
	color: #e8603c;
	margin-left: 70px;
	line-height: 1.3;
	padding-right: 20px;
}
.je-media p {
	font: 12px Arial, Helvetica, sans-serif;
	line-height: 1.5;
	padding-top: 32px;
	padding-bottom: 20px;
	color: #414141;
	text-align: left;
}
.je-media a {
	display: inline-block;
	height: 34px;
	line-height: 32px;
	font: 12px "Bebas", Arial, Helvetica, sans-serif;
	background-color: #e8603c;
	color: #fff;
	border: 1px solid #e8603c;
	text-transform: uppercase;
	text-decoration: none;
	padding: 8px 14px;
	transition: background-color .5s, color .5s;
}
.je-media a:hover {
	background-color: #fff;
	color: #e8603c;
	transition: background-color .5s, color .5s;
}
/*----------------------------------Resent-----------------------------------------*/
.je-resent{
	margin-top: 30px;
/*	margin-bottom: 46px;*/
}
.je-resent .je-resent-header {
	margin-bottom: 24px;
}
.je-resent h2{
	background: url("../img/line.png") no-repeat;
	background-size: cover;
	font: 18px "Bebas", Arial, Helvetica, sans-serif;
	line-height: 18px;
	color: #e8603c;
	text-align: left;
	text-transform: uppercase;
	margin: 0;
}
.je-resent span {
	background-color: #fff;
	padding-right: 20px;
}
.je-resent img {
	width: 100%;
}
.je-resent-hover img:hover {
	opacity: .65;
}
.je-resent .je-text {
	border: 1px solid #dbdbdb;
	border-top: none;
	padding: 12px;
}
.je-text h4 {
	display: inline-block;
	font: 16px "Bebas", Arial, Helvetica, sans-serif;
	line-height: 18px;
	color: #b9b9b9;
	text-transform: uppercase;
	margin: 0;
	transition: color .5s;
}
.je-text p {
	font: 11px "Bebas", Arial, Helvetica, sans-serif;
	line-height: 18px;
	color: #e8663c;
	text-transform: uppercase;
	margin: 0;
}

.je-text a:hover h4{
	text-decoration: none;
	color: #e8603c;
	transition: color .5s;
}
/*----------------------------------Footer-----------------------------------------*/
.je-footer {
	position: relative;
}
.je-footer:before {
	content: " ";
	position: absolute;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	top: 0;
	background: #f2ae9c;
	z-index: -10;
}
.je-footer .container {
	padding: 25px;
	background: #e8603c;
	border: 10px solid #fff;
	border-top: none;
	border-bottom: none;
	color: #fff;
}
.je-footer h2 {
	font: 20px "Bebas", Arial, Helvetica, sans-serif;
	margin-bottom: 26px;
	margin-top: 15px;
	text-transform: uppercase;
}
.je-footer p {
	font: 12px Helvetica, sans-serif;
	margin-bottom: 16px;
}
.je-footer span {
	color: #f3b29d;
}
.je-footer a {
	color: #f3b29d;
	transition: color .5s;
}
.je-footer a:hover {
	color: #fff;
	transition: color .5s;
}
.jet-social a {
	display: inline-block;
	width: 30px;
	height: 30px;
}
.jet-social img:hover {
	position: relative;
	top: -10px;
	transition: top .7s;
}
.je-footer [class*=col-] {
	padding-left: 24px;
}

/*---------------------PORTFOLIO PAGE------------------------------*/
/*-----------Header----------*/
.je-pf-header {
	color: #fff;
	background-color:  #e8603c;
	height: 60px;
	text-transform: uppercase;
	margin-bottom: 35px;
	border-left: 10px solid #fff;
	border-right: 10px solid #fff;
	word-spacing: 3px;
}
.je-pf-header h2 {
	font: 24px "Bebas", Arial, Helvetica, sans-serif;
	line-height: 60px;
	margin: 0;
	padding-left: 17px;
}
/*-----------sub-nav----------*/
.sub-navbar-nav {
	background: #fff;
	padding-left: 0;
	margin-bottom: 0;
}
.sub-navbar-nav li{
	list-style-type: none;
	float: left;
}
.sub-navbar-nav .active a{
	color: #fff;
	background-color: #e8603c;
}
.sub-navbar-nav a{
	display: block;
	font: 14px "Bebas", Arial, Helvetica, sans-serif;
	line-height: 30px;
	height: 30px;
	text-transform: uppercase;
	text-decoration: none;
	color: #b9b9b9;
	padding: 0 10px;
	transition: color .3s, background-color .3s;
}
.sub-navbar-nav a:hover{
	color: #e8603c;
	/*background-color: #e8603c;*/
	transition: color .3s;/* background-color .3s;*/
}
.sub-navbar-nav .active a:hover{
	color: #fff;
}
/*-----------pf-item----------*/
.je-pf-item {
	margin-top: 36px;
}
.je-pf-item [class*="col-"] {
	margin-bottom: 40px;
}
.je-hov	{
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.je-hov:before {
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	bottom: 100%;
	top: 0;
	margin: auto;
	background: rgba(0, 0, 0, 0.8);
	transition: all .5s;
}
.je-hov:hover:before {
	bottom: 0;
}
.je-hov:hover .je-hov-plus{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
	transition: all .5s;
}
.je-hov-plus{
	position: absolute;
	left: 50%;
	top: -50%;
	transform: translateX(-50%) translateY(-50%);
	transition: all .5s;
}
/*.je-resent .row + .row {
	margin-top: 40px;
}*/
/*---------------------ABOUT US PAGE------------------------------*/
/*-----------  ----------*/
.col-pad-r {
	padding-right: 50px;
}
.je-about {
	font: 12px Arial, Helvetica, sans-serif;
	line-height: 18px;
	color: #414141;
	position: relative;
}
.je-img-in-text-left {
	float: left;
	margin:0 20px 10px 0;
}
.je-first-letter:first-letter {
	font: 36px Arial, Helvetica, sans-serif;
	/*line-height: 36px;*/
	color: #e8603c;
	float: left;
	font-weight: bold;
}
.je-about blockquote {
	border-color: #e8603c;
	margin-left: 55px;
}
.je-about blockquote p {
	font: 12px Arial, Helvetica, sans-serif;
	font-style: italic;
	line-height: 1.5;
	text-align: left;
	color: #414141;
}
.je-about .alert {
	font: 14px Arial, Helvetica, sans-serif;
	font-style: italic;
	line-height: 20px;
	text-align: center;
}
.je-about .alert-success {
	color: #98c601;
	border: 1px solid #98c601;
}
.je-about .alert-danger {
	color: #eb5439;
	border: 1px solid #eb5439;
}
.je-about .alert-warning {
	color: #fab418;
	border: 1px solid #fab418;
}
.je-about .alert-info {
	color: #4d8fcb;
	border: 1px solid #4d8fcb;
}
/*--------------Sidebar-----------------*/
.sidebar-item h4 {
	font: 14px "Bebas", Arial, Helvetica, sans-serif;
	color: #e8603c;
	background: url('../img/line.png') 50% 50%;
	background-repeat: repeat-x;
	height: 15px;
	margin-bottom: 20px;
	line-height: 15px;
}
.sidebar-item span {
	padding-right: 17px;
	background-color: #fff;
}
.link-list {
	padding-left: 0;
}
.link-list a{
	color: #414141;
}
.link-list a:hover{
	text-decoration: underline;
}
.sidebar-item .link-list li {
	list-style: none;
}
.sidebar-item img {
	width: 100%;
}
.sidebar-item .row [class*=col-] {
	padding-left: 0;
	padding-right: 5px;
	padding-bottom: 5px;
}
.sidebar-item.sidebar-photo .row {
	margin-left: 0;
	margin-right: 0;
}
/*---------------------BLOG PAGE------------------------------*/
/*-----------  ----------*/

.je-news {
	position: relative;
	margin-bottom: 56px;
	/*padding-right: 40px;*/
}
.je-news img {
	width: 100%;
}
.je-news.blog-icon:before {
	content: '';
	position: absolute;
	width: 75px;
	height: 75px;
	left: -86px;
	/*right: 101%;*/
	/*background-image: url('../img/blog-icon_1.jpg');*/
}
.type-slider.blog-icon:before{
	background-image: url('../img/blog-icon_1.jpg');
}
.type-docs.blog-icon:before{
	 background-image: url('../img/blog-icon_2.jpg');
 }
.type-video.blog-icon:before{
	background-image: url('../img/blog-icon_3.jpg');
}
.type-quote.blog-icon:before{
	background-image: url('../img/blog-icon_4.jpg');
}
.type-link.blog-icon:before{
	background-image: url('../img/blog-icon_5.jpg');
}
.blog-icon {

}
@media (max-width: 624px) {
	.carousel-caption {
		display: none;
	}
}
@media (max-width: 767px) {
	.col-pad-r {
		padding-right: 0;
	}
	.je-news.blog-icon:before {
		left: 0;
		top: 0;
		z-index: 10;
	}
	.type-quote.blog-icon:before,
	.type-link.blog-icon:before{
		display: block;
		position: relative;
	}
}
.new-content h4 {
	font: 12px "Bebas", Arial, Helvetica, sans-serif;
	color: #e8603c;
	line-height: 20px;
	text-align: left;
}
.new-content h2 {
	font: 18px "Bebas", Arial, Helvetica, sans-serif;
	color: #e8603c;
	line-height: 18px;
	text-align: left;
}
.new-content {
	position: relative;
	padding-bottom: 50px;
}
.new-content .je-coment {
	font: 12px "Bebas", Arial, Helvetica, sans-serif;
	color: #bebebe;
}
.green-link {
	color: #8caf2f;
}
.je-news .new-content:after{
	position: absolute;
	content: '';
	height: 14px;
	width: 100%;
	bottom: 0;
	background: url('../img/line-small.png') repeat-x;
}
.je-quote {
	padding-bottom: 50px;
}
.je-quote blockquote {
	font-style: italic;
	padding: 20px 30px 18px 75px;
	margin-left: 0;
	margin-bottom: 0;
	border-left: none;
	background: #f5f5f5;
	font-size: 13px;
	position: relative;
}
.je-quote blockquote:before {
	content: '';
	position: absolute;
	background-image: url("../img/quote-red.png");
	left: 0;
	top: 0;
	width: 76px;
	height: 76px;
	background-position: 70% 40%;
	background-repeat: no-repeat;
}
.je-quote:after{
	position: absolute;
	content: '';
	height: 14px;
	width: 100%;
	bottom: 0;
	background: url('../img/line-small.png') repeat-x;
}
.je-blog .type-link h2 {
	font: 18px "Bebas", Arial, Helvetica, sans-serif;
	color: #e8603c;
	line-height: 18px;
	text-align: left;
}
.je-blog .type-link a {
	display: inline-block;
	color: #bebebe;
	margin-bottom: 20px;
	/*display: block;*/
}
.je-blog .type-link a:hover {
	color: #e8603c;
	text-decoration: underline;
}
.je-blog ul.pagination {
	margin-top: 0;
}
.pagination li a {
	font:14px "Bebas", Arial, Helvetica, sans-serif;
	line-height: 26px;
	width: 26px;
	height: 26px;
	text-align: center;
	margin-right: 5px;
	border: none;
	padding: 0;
}
.pagination .disabled {
	background: #f3b29d;
	color: #fff;
}
.pagination .active {
	background: #e8603c;
	color: #fff;
}
/*---------------------CONTACT US------------------------------*/
.je-contact {
	padding-bottom: 36px;
}
.je-contact .embed-responsive{
	margin-bottom: 34px;
}
.je-contact .je-text-orange {
	color: #e8603c;
	font-weight: bold;
}
.je-contact .je-contact-info p {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #414141;
	line-height: 1.5;
}
.je-contact .je-contact-info span {
	font-weight: bold;
}
/*----------form---------------*/
.je-form input {
	display: block;
}
.je-form .je-form-item {
	padding: 10px 12px;
	font: 12px "Bebas", Arial, Helvetica, sans-serif;
	line-height: 2.3;
	border: 1px solid #e8603c;
	color: #e8603c;
	margin-bottom: 10px;
}
textarea {
	width: 100%;
}
.je-form button.btn-danger {
	background-color: #e8603c;
	text-transform: uppercase;
	border: 1px solid #e8603c;
	transition: background-color .5s, color .5s;
}
.je-form button.btn-danger:hover {
	background-color: #fff;
	color: #e8603c;
	transition: background-color .5s, color .5s;
}
input[type="text"]::-webkit-input-placeholder{
	color: #e8603c;
}
input[type="text"]::-moz-placeholder {
	color: #e8603c;
}input[type="text"]:-ms-input-placeholder {
	 color: #e8603c;
 }
input[type="email"]::-webkit-input-placeholder {
	color: #e8603c;
}
input[type="email"]::-moz-placeholder {
	color: #e8603c;
}
input[type="email"]:-ms-input-placeholder {
	color: #e8603c;
}
textarea::-webkit-input-placeholder {
	color:#e8603c !important;
}
textarea::-moz-placeholder {
	color:#e8603c !important;
}
textarea:-ms-input-placeholder {
	color:#e8603c !important;
}
