@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,100);

.container{
	width: 80%;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
}

.clearfix{
	clear: both;
}
.navbar{
	padding: 10px 0px;
}
.navbar-brand{
	color: #2e2e2e;
	text-decoration: none;
	font-weight: 300;
	font-size: 20px;
	letter-spacing: 3px;
}
.brandname{
	color: #00a39a;
	font-weight: 300;
	font-size: 40px;
	text-align: left;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    background-color: inherit;
}
.navbar ul li a:hover, .navbar ul li.active a{
	color: #5d6a7f;
	text-decoration: none;
	border-bottom: 2px solid #5d6a7f;
}

.block_1{
	/*background: url(../images/home-bg01.jpg);*/
	padding: 200px 0px;
	color: #fff;
}

.block_text h2{
	font-family: 'Raleway', sans-serif;
	font-weight: 100;
	font-size: 60px;
	font-style: normal;
	text-align: left;
}
.block_text p{
	font-size: 24px;
	font-weight: 400;
	font-family: 'Open Sans', sans-serif;
	text-align: left;
	}
.block_2, .services{
	color: #00a39a;
	text-align: center;
	border-bottom: 1px solid #00a39a;
	padding-bottom: 70px;
}
.widget{
	display: inline-block;
	margin: 50px 0px 40px;
	padding: 10px 15px;
	border: 2px solid #00a39a;
	border-radius: 50%;
	font-size: 50px;
	height: 100px;
	width: 100px;
	}
h5{
	font-size: 18px;
	color: #00a39a;
	font-weight: 300;
	line-height: 2;
	margin-top: 0px;
}
.text{
	color: #333333;
	font-weight: 300;
	line-height: 1.5;
	}
.btn-success{
	margin-top: 50px;
	background-color: #00a39a;
	border: none;
	padding: 10px 30px;
}
.btn-success a{
	color: #fff;
	font-weight: 700;
	font-size: 16px;
	text-decoration: none;
	}
.btn-success:hover{
	background-color: #00a39a;
	opacity: .5;
}
.gallery{
	padding:50px 0px;
}
.photoface{
	position: relative;
	padding-bottom: 10px;
	margin-left: -20px;

}

.photoface .hover-block{
	position: absolute;
	display: none;
	width: 100%;
	height: 97%;
}

.photoface img{
	width: 100%;
	border: 1px solid #fff;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.21); 
}

.photoface:hover .hover-block{
	display: block;
	background: rgba(0,0,0,0.7);
	color: #fff;
	font-weight: 700;
	padding: 100px;
}

h3{
	font-family: 'Raleway', sans-serif;
	color: #3b3b3b;
	font-size: 60px;
	font-weight: 100;
	text-align: center;
	padding:0px 0px 40px;
}

.blog{
	/*background: url(../images/home-parallax1.jpg);*/
	padding:50px 0px;
	text-align: center;
}

.blog h3, .blog p{
	color: #fff;
}
.post img{
	width: 100%;
}

.date{
	font-weight: 300;
	font-size: 18px;
	line-height: 1.2;
	padding-top: 50px;
}

.blog h5{
	color: #00a39a;
}
.blog .btn-success{
	margin-top: 40px;
}

.line {
	width: 33%;
	border-bottom: 1px solid #00d6ca;
	margin: 25px auto;
	
}
.services{
	padding:50px 0px;
}
.servi ul{
	list-style-type: none;
	text-align: left;
	color: #00a39a;
	line-height: 1.8;
}
.servi ul li:before {
  font-family: FontAwesome;
  font-size: 14px;
  color: #00a39a;
  content: "\f05d";
  padding-right: 20px;
 }

 .testimonials{
 	padding:50px 0px;
 }

 .head_table{
 	background: #F7F7F7;
 	border: 1px solid #bebebe;
 	padding: 5px 20px 0px;
 	text-align: left;
 	border-radius: 5px 5px 0px 0px;
 }

 .body_table {
	border: 1px solid #bebebe;
	border-top: none;
	padding: 15px;
	border-radius: 0px 0px 5px 5px;
	text-align: left;
}
.testimonials img{
	text-align: center;
	padding-top: 20px;
}

.clients{
	padding:50px 0px;
	background: #00a39a;
	color: #fff;
}

.clients h3{
	color: #fff;
}

.clients i{
font-family: FontAwesome;
  font-size: 80px;
  padding-bottom: 20px; 
}

.clients p{
	font-family: 'Raleway', sans-serif;
	font-size: 20px;
	font-weight: 400;
}

footer{
	padding: 20px 0px;
}

.copyright{
	text-align: left;
	padding-top: 20px;
}
footer .brandname{
	text-decoration: none;
	color: #00a39a;
}
